<mat-toolbar color="primary">
  <span class="brand">
    <mat-icon>local_parking</mat-icon>
    Parking Neology
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        <mat-icon matListItemIcon>dashboard</mat-icon>
        Panel
      </a>

      <a mat-list-item routerLink="/vehiculos" routerLinkActive="active">
        <mat-icon matListItemIcon>directions_car</mat-icon>
        Vehículos
      </a>

      <a mat-list-item routerLink="/estancias" routerLinkActive="active">
        <mat-icon matListItemIcon>swap_horiz</mat-icon>
        Estancias
      </a>

      <a mat-list-item routerLink="/reportes-pagos" routerLinkActive="active">
        <mat-icon matListItemIcon>receipt_long</mat-icon>
        Reporte de pagos
      </a>

      <a mat-list-item routerLink="/configuracion" routerLinkActive="active">
        <mat-icon matListItemIcon>settings</mat-icon>
        Configuración
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
